extends layout.pug 

block content 
    .wrapper 
        .home-page
            h1 Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, rerum?
            a.btn(href='/create') Create Wiki